annotated-types==0.6.0
asgiref==3.8.1
beautifulsoup4==4.12.2
bleach==6.1.0
chardet==5.2.0
Django==5.0.3
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap4==23.4
django-post-office==3.8.0
prompt-toolkit==3.0.38
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic_core==2.14.6
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.9
pytz==2024.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.10.0
wcwidth==0.2.13
webencodings==0.5.1
